.container{
  display: flex;
  flex-direction: row;
  background-color: gray;
  color: white;
  height: 600px;
}
.r1{
  flex-grow: 3;
order: 3;
  background-color: red;
}
.r2{
  flex-grow: 1;
  background-color: green;
  align-self: flex-end;
}
.r3{
  flex-grow: 2;
  background-color: blue;
}
.rect{

}